<nav class="navbar navbar-light bg-dark">
  <a href="/" class="navbar-brand"><img src="/img/home.png" alt="logo" /></a>

  <a href="#" class="navbar-end text-white" style="text-decoration: none"
    >Portal de Perguntas e Respostas</a
  >
</nav>
